<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
<h3>DOCUMENTS SCREEN!</h3>
<form th:action="@{/documents/upload}" method="post" enctype="multipart/form-data">
<pre>
ID    : <input type="text" name="docId"/>
DOC   : <input type="file" name="docOb"/>
<input type="submit" value="Upload"/>
</pre>
</form>
<hr>
<table class="table">
<tr>
	<th>ID</th>
	<th>NAME</th>
	<th>LINK</th>
</tr>
<tr th:each="ob:${list}">
	<th th:text="${ob[0]}"></th>
	<th th:text="${ob[1]}"></th>
	<th><a th:href="@{/documents/download(id=${ob[0]})}">DOWNLOAD</a></th>
</tr>
</table>
</body>
</html>