<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-danger text-white text-center">
				WELCOME TO SALE ORDER REGISTER PAGE!!</div>
			<!-- Card Header End -->

			<div class="card-body">
				<form th:action="@{/so/save}" method="POST">

					<!-- First Row -->
					<div class="row">
						<div class="col-3">
							<label>Order Code</label>
						</div>
						<div class="col-4">
							<input type="text" name="orderCode" id="orderCode"
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="orderCodeError"></span>
						</div>
					</div>


					<!-- Second Row -->
					<div class="row">
						<div class="col-3">
							<label>Shipment Code</label>
						</div>
						<div class="col-4">
							<select name="shipmentType.id" class="form-control"
								id="shipmentid">
								<option>--SELECT--</option>
								<option th:each="ob:${shipments}" th:text="${ob.value}"
									th:value="${ob.key}"></option>
							</select>
						</div>
						<div class="col-5">
							<span id="shipmentError"></span>
						</div>
					</div>



					<!-- Third Row -->
					<div class="row">
						<div class="col-3">
							<label>Customer</label>
						</div>
						<div class="col-4">
							<select name="customer.id" class="form-control" id="customerid">
								<option>--SELECT--</option>
								<option th:each="ob:${whusers}" th:text="${ob.value}"
									th:value="${ob.key}"></option>
							</select>
						</div>
						<div class="col-5">
							<span id="customerError"></span>
						</div>
					</div>


					<!-- Fourth Row -->
					<div class="row">
						<div class="col-3">
							<label>Reference Number</label>
						</div>
						<div class="col-4">
							<input type="text" name="refNo" id="refNo" class="form-control" />
						</div>
						<div class="col-5">
							<span id="refNoError"></span>
						</div>
					</div>

					<!-- Fifth Row -->
					<div class="row">
						<div class="col-3">
							<label>Stock Mode</label>
						</div>
						<div class="col-4">
							<input type="radio" name="stockMode" value="GRADE"> GRADE
							<input type="radio" name="stockMode" value="MARGIN">
							MARGIN

						</div>
						<div class="col-5">
							<span id="stockModeError"></span>
						</div>
					</div>

					<!-- Sixth Row -->
					<div class="row">
						<div class="col-3">
							<label>Stock Source</label>
						</div>
						<div class="col-4">
							<select name="stockSrc">
								<option value="--">--SELECT--</option>
								<option value="OPEN">OPEN</option>
								<option value="AVAIL">AVAIL</option>
								<option value="REFUND">REFUND</option>
							</select>
						</div>
						<div class="col-5">
							<span id="stockSrcError"></span>
						</div>
					</div>
					<!-- Seventh Row -->
					<div class="row">
						<div class="col-3">
							<label>Default Status</label>
						</div>
						<div class="col-4">
							<input type="text" name="defStatus" id="defStatus" readOnly
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="descError"></span>
						</div>
					</div>

					<!-- Eighth Row -->
					<div class="row">
						<div class="col-3">
							<label>Description</label>
						</div>
						<div class="col-4">
							<textarea name="desc" id="desc" class="form-control"></textarea>
						</div>
						<div class="col-5">
							<span id="descError"></span>
						</div>
					</div>
					<input type="submit" value="Create Order" class="btn btn-primary" />
				</form>


			</div>
			<!-- CardBody End -->

			<div class="card-footer alert alert-info" th:if="${msg!=null}">
				<span th:text="${msg}"></span>

			</div>
			<!--Card Footer End -->
		</div>
		<!-- Card End -->
	</div>
	<!-- Container End -->

	<script>
		$(document).ready(function(){
			
			$("#defStatus").val("SALE OPEN")
		});
	</script>
</body>
</html>